@media (max-width: calc(375em / 16)) {
  .background-container {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-box {
    max-width: calc(240rem / 16);
  }

  .title {
    color: hsl(218, 44%, 22%);
    font-size: calc(15rem / 16);
    line-height: 1.4;
    text-align: center;
  }

  .paragraph {
    color: hsl(220, 15%, 55%);
    font-size: calc(12rem / 16);
    padding-bottom: calc(24rem / 16);
    text-align: center;
  }
}
